{% extends 'book.html.twig' %}

{% block content %}
<style>
	.content {
		font-size: 26pt;
		font-family: 'Lobster', cursive;
		margin-left: 12%
	}
</style>
	<form method="POST" action="{{path('addNewBook')}}">
		<label >Enter book's name</label><br>
		<textarea name="name" rows="4" cols="50">
		</textarea><br><br>
		
		<label >Enter content of book</label><br>
		<textarea name="content" rows="4" cols="50">
		</textarea><br><br>
		
		<button type="submit">Add</button><br><br>
	</form>
{% endblock %}